{% extends 'base.html' %}
{% block content %}
<br>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% if gallerys.items %}
        {%for i,v in gallerys.items %}
        <div class="grid gap-4">
            {% for g in v %}
            <div>
                <img class="h-auto max-w-full rounded-lg" src="{{g.1}}" alt="{{g.0}}">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
    <p class="text-2xl font-bold">No gallery found</p>
    {% endif %}
</div>
{% endblock %}